<div>
  <link href="./feature-card121.css" rel="stylesheet" />
  <div class="feature-card121-container">
    <img alt="image" src="public/01.svg" class="feature-card121-image" />
    <button type="button" class="button feature-card121-button">
      <span>Food Waste Analytics</span>
    </button>
    <span class="feature-card121-text">
      <span>
        Insightful data and visualizations help users monitor their consumption
        habits and progress in reducing waste.
      </span>
    </span>
  </div>
</div>
