<div>
  <link href="./feature-card11.css" rel="stylesheet" />
  <div class="feature-card11-container">
    <img alt="image" src="public/01.svg" class="feature-card11-image" />
    <button type="button" class="button feature-card11-button">
      <span>Local Food Bank Integration</span>
    </button>
    <span class="feature-card11-text">
      <span>
        Users can schedule pickups for surplus food, contributing to local
        communities and reducing food waste.
      </span>
    </span>
  </div>
</div>
