.feature-card121-container {
  width: 320px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.feature-card121-image {
  width: var(--dl-size-size-doubleunit);
  height: var(--dl-size-size-doubleunit);
  object-fit: cover;
}
.feature-card121-text {
  text-align: center;
}

@media(max-width: 767px) {
  .feature-card121-button {
    color: #1f181f;
  }
}
