<div>
  <link href="./feature-card.css" rel="stylesheet" />
  <div class="feature-card-container">
    <img alt="image" src="public/01.svg" class="feature-card-image" />
    <button type="button" class="button feature-card-button">
      <span>Food Inventory Management</span>
    </button>
    <span class="feature-card-text">
      <span>
        Users can easily input their pantry, refrigerator, and freezer items,
        while AI algorithms track expiration dates and send timely reminders.
      </span>
    </span>
  </div>
</div>
