<div>
  <link href="./feature-card12.css" rel="stylesheet" />
  <div class="feature-card12-container">
    <img alt="image" src="public/01.svg" class="feature-card12-image" />
    <button type="button" class="button feature-card12-button">
      <span>Gamified Rewards</span>
    </button>
    <span class="feature-card12-text">
      <span>
        Earn points and badges for sustainable actions, such as donating food
        and participating in waste reduction challenges.
      </span>
    </span>
  </div>
</div>
