<div>
  <link href="./feature-card1.css" rel="stylesheet" />
  <div class="feature-card1-container">
    <img alt="image" src="public/01.svg" class="feature-card1-image" />
    <button type="button" class="button feature-card1-button">
      <span>Recipe Suggestions</span>
    </button>
    <span class="feature-card1-text">
      <span>
        Personalized recipe ideas are generated based on available ingredients,
        promoting creative cooking and minimizing food waste.
      </span>
    </span>
  </div>
</div>
